{{name}}<br /><br />


<div>
	<ol>
		<li><button (click)="array()">Basickdatatypes</button><br /><br />
		<li><button (click)="mathfunctions()">Mathfunctions</button><br /><br />
		<li><button (click)="array()">Array</button><br /><br />
		<li><button (click)="tuplefunctions()">Tuplefunctions</button><br /><br />
		<li><button (click)="stringfunction1()">String</button><br /><br />
		<li><button (click)="date1()">Date functions</button><br /><br />
		<li><button (click)="ForWhileDo()">Looping</button><br /><br />
		<li><button (click)="Bitwiseop()">Bitwiseopperators</button><br /><br />
  </ol>
</div>